/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Apply a font throughout the page */
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #fff;
    padding: 0 20px;
}

header {
    position: fixed;
    top: 0;
    color: #333;
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
    border-bottom-color: #333;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Hide the checkbox and style the label as a menu button */
#menu-toggle {
    display: none;
}

label[for="menu-toggle"] {
    display: none;
    cursor: pointer;
    /* Add any other styles you want for the menu button */
}

@media screen and (max-width: 500px) {
    header {
        padding: 5px 0; /* Smaller padding for smaller screens */
    }
    nav {
        display: none;
    }

    label[for="menu-toggle"] {
        display: block;
    }

    nav ul li {
        padding-top: 5px;
        display: block; /* Stack the nav items vertically */
        margin-right: 0; /* Remove the right margin */
    }
    .menu-toggle:checked + .menu-content {
        /* Apply your styles for when the menu is toggled */
        transition: all 0.3s ease-in-out;
      }
}
/* Show the menu when the checkbox is checked */
#menu-toggle:checked ~ nav {
    display: block;
    transition: all 0.3s ease-in-out;
}
/* Use the :checked pseudo-class to change the menu when the checkbox is checked */
#menu-toggle:checked + .menu {
    opacity: 1;
    visibility: visible;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    white-space: nowrap; /* Add this line */    
}

nav ul li a[href="#"] {
    color: #838383;
}

nav ul li a:hover {
    color: #838383;
}

section {
    padding: 20px 0;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu {
    /* styles for your menu */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-item {
    background: #f4f4f4;
    margin: 20px 0;
    padding: 10px;
    max-width: 100;
    transition: transform 0.3s ease-in-out; /* Transition effect for the transform property */
    transform: translateX(-100%); /* Start with the menu off-screen */
}
.menu-toggle:checked + .menu-items {
    transform: translateX(0); /* Move the menu on-screen */
  }

.menu-item:hover {
    transform: scale(1.05);
}

footer {
    /* background: #333; */
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: relative;
    left:0;
    bottom: 0;
    width: 100%;
    border-top-color: #333;
    border-top-style: solid;
    border-top-width: 1px;
}

#moulay_choix_commande{
    top: 0;
    color: #333;
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.dotted-line {
    border-top: 1px dotted #000;
    width: 100%; /* Assurez-vous que la ligne s'étend sur toute la largeur du td */
    margin: 20px 0; /* Ajoutez un espace au-dessus et en dessous de la ligne */
}

#moulay_titre {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#moulay_titre h1 {
    padding-left: 10px;
    padding-bottom: 10px;
}


#moulay_titre img {
    /* corner radius */
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    /* screen width */
    width: 100%;
    max-width: 1000px;
    height: 100px;
    object-fit: cover;

}

#moulay_choix_commande ul li{
    list-style-type: none;
}

.moulay_table{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* no space between elements */
    border-collapse: separate;

    border-spacing: 5px;
    border-spacing: 1vw;
    border-spacing: 2em;
    /* table border */
    border: 1px dotted #333;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1000px;
}

.moulay_table td {
    padding: 0 50px; /* Ajoute un espace de 20px à gauche et à droite de chaque cellule */
}
.moulay_table td ul {
    width: 200px;
}
.moulay_table td ul li {
    text-align: left;
}
.moulay_table td ul li input {
    width: 100px;
}

#moulay_input {
    /* background: #333; */
    color: #fff;
    border: 1px solid #333;
    /* border: 0; */
    padding: 10px 20px;
    /* cursor: pointer; */
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    padding-top: 8px;
    height: 20px;
    width: 150px;
}
/* change background color of moulay_input when in focus and has text */
#moulay_input:focus:not(:placeholder-shown) {
    background: #fff;
    color: #333;
    border: 1px solid #333;
}

#moulay-submit-button {
    /* background: #333; */
    /* color: #fff; */
    border: 1px solid #333;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    /* button height like an text input */
    height: 40px;
    width: 190px;
    align-items: center;
    text-align: center;
    margin-top: 8px;
}

#moulay-submit-button:hover {
    background: #fff;
    color: #333;
    border: 1px solid #333;
}

#moulay_adresse_livraison{
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#moulay_link{
    color: #333;
    text-decoration: none;
}