/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Apply a font throughout the page */
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #fff;
    padding: 0 20px;
}

header {
    position: fixed;
    top: 0;
    color: #333;
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
    border-bottom-color: #333;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Hide the checkbox and style the label as a menu button */
#menu-toggle {
    display: none;
}

label[for="menu-toggle"] {
    display: none;
    cursor: pointer;
    /* Add any other styles you want for the menu button */
}

@media screen and (max-width: 500px) {
    header {
        padding: 5px 0; /* Smaller padding for smaller screens */
    }
    nav {
        display: none;
    }

    label[for="menu-toggle"] {
        display: block;
    }

    nav ul li {
        padding-top: 5px;
        display: block; /* Stack the nav items vertically */
        margin-right: 0; /* Remove the right margin */
    }
    .menu-toggle:checked + .menu-content {
        /* Apply your styles for when the menu is toggled */
        transition: all 0.3s ease-in-out;
      }
}
/* Show the menu when the checkbox is checked */
#menu-toggle:checked ~ nav {
    display: block;
    transition: all 0.3s ease-in-out;
}
/* Use the :checked pseudo-class to change the menu when the checkbox is checked */
#menu-toggle:checked + .menu {
    opacity: 1;
    visibility: visible;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    white-space: nowrap; /* Add this line */    
}

nav ul li a[href="#"] {
    color: #838383;
}

nav ul li a:hover {
    color: #838383;
}

section {
    padding: 20px 0;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu {
    /* styles for your menu */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-item {
    background: #f4f4f4;
    margin: 20px 0;
    padding: 10px;
    max-width: 100%;
    transition: transform 0.3s ease-in-out; /* Transition effect for the transform property */
    transform: translateX(-100%); /* Start with the menu off-screen */
}
.menu-toggle:checked + .menu-items {
    transform: translateX(0); /* Move the menu on-screen */
  }

.menu-item:hover {
    transform: scale(1.05);
}

footer {
    /* background: #333; */
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: relative;
    left:0;
    bottom: 0;
    width: 100%;
    border-top-color: #333;
    border-top-style: solid;
    border-top-width: 1px;
}

#moulay_sommaire a {
    margin-right: 15px;
}



/* ----------------------------------------------------FILIPE SECTION ---------------------------------------------------------------------------*/
/*-----------------------------------------------------------Intro-------------------------------------------------------*/
#introduction {
    display: flex;
    align-items: center;
    margin-left: 5%;
    
}

.chef-image {
    height: 350px;
    width: 350px;
    max-width: 100%;
    border-radius: 50%  
}

#introduction p {
    font-size: 20px;
    color: #333;
    margin-left: 10%; 
    text-align: center;
    max-width: 50%; 
}

#introduction a {
    color: #DAA520; 
    transition: color 0.3s, background-color 0.3s;
  }

#introduction a:hover {
    color: #caca79; 
    text-decoration: none;
    }

/*--------------------------------------------Signature dishes-----------------------------------------------------------*/

#signature-dishes-title{
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 100px;
    margin-top: 50px;
}

#signature-dishes p{
    font-size: 20px;
    color: #333;
    text-align: center;
}

#signature-dishes strong{
    font-size: 30px
}  

/*------------------------Coq-au-Vin----------------------------*/
#coq-au-vin {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#coq-au-vin p{
    max-width: 50%;
    margin-right: 7.5% ;
    margin-left: 14% ;
}

.filipe-coq-au-vin-image {
    width : 700px;
    height: 400px;
    margin-right: 50px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


/*---------------------Risotto Porcini--------------------------*/

#risotto-porcini {
    display: flex;
    align-items: center;
    justify-content: center;
}

#risotto-porcini p{
    max-width: 50%;
    margin-left: 2.5%;
    
}

.filipe-risotto-image {
    margin-left: 70px;
    width : 700px;
    height: 400px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 50PX;
}


/*-------------------Bottom Signature Dishes---------------------*/

.filipe-table{
    width: 22%;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 2%;
}

.filipe-table th, .filipe-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}

.filipe-table th{
    background-color: #cac8c8;
}

#techniques-ingredients p{
    max-width: 80%;
    margin-left: 10%;
}

/*-----------------------------------------------Side Dishes,Drinks & Desserts-------------------------------------------------*/
#side-dishes-title{
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 100px;
    margin-top: 50px;
}

#filipe-rest-of-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


#filipe-rest-of-menu p {
    column-count: 3;
    column-gap: 50px;
    font-size: 20px;
    color: #333;
    text-align: center;
    max-width: 60%; 
}


/*----------------------------------------------------------CONCLUSION-------------------------------------------------------*/


#filipe-conclusion p{
    font-size: 30px;
    color: #333;
    text-align: center;
    max-width: 75%; 
    margin-left: 12.5%;
    margin-top: 50px;
}

#filipe-conclusion a{
    color: #DAA520;
    transition: color 0.3s, background-color 0.3s;
}

#filipe-conclusion a:hover {
    color: #caca79;
    text-decoration: none; 
    }

#signature-staff-filipe{
    margin-top: 20px;
    font-family: "Italianno", cursive;
    font-weight:bold;
    font-size: 50px;
    text-decoration: underline;
}




/*----------------------------------------------------FEEDBACK FORM--------------------------------------------------------*/


.feedback-box {
    background-color: #fff;
    padding: 12px;
    padding-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.501);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 75px;
    
}

#feedback-form-title{
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 50px;
    margin-top: 50px;
}

.feedback-form-filipe {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    
}

.feedback-box label {
    margin-bottom: 10px;
}

.feedback-box select, textarea {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.feedback-box textarea{
    height: 150px;
}

.feedback-box input{
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.feedback-box input:hover {
    background-color: #3b883f;
}

/*----------------------------------------------------END FILIPE SECTION-------------------------------------------------------------------------*/